{% extends 'dashboard/index.html.twig' %}

{% block content %}
    {{form_start(form)}}
    <div class="form-group">
        {{form_row(form.name)}}
    </div>
    <div class="form-group">
        {{form_row(form.dueDate)}}
    </div>
    <div class="form-group">
        {{form_row(form.importance)}}
    </div>
    <div class="form-group">
        {{form_row(form.assignedTo)}}
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    {{form_end(form)}}
{% endblock %}