{% extends 'dashboard/index.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">Assigned to you</div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Due date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for activity in assignedToYou %}
                            <tr>
                                <td>{{ activity.id }}</td>
                                <td>{{ activity.name }}</td>
                                <td>{{ activity.dueDate|date("d.m.Y H:i") }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">Your activities</div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Due date</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for activity in yourActivities %}
                            <tr class="table-link">
                                <td>{{ activity.id }}</td>
                                <td>{{ activity.name }}</td>
                                <td>{{ activity.dueDate|date("d.m.Y H:i") }}</td>
                                <td class="actions">
                                    <a href="{{url('save-activity', {'id': activity.id})}}" class="text-info" title="Edit">
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                    <a href="{{url('delete-activity', {'id': activity.id})}}" class="text-danger" title="Delete">
                                        <i class="fa fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}